
/*Color celeste de la prueba: rgb(13,202,240)
Color del navbar:rgb(36,154,166)*/

/*:root{
    --primary:rgb(36,154,166)
    --light:#2e2e2e 
}*/ 
html{
    scroll-behavior: smooth;
}

body{
    background-color:#000000 ;
    color: white !important;
}
.navbar{
    background-color:rgb(23, 39, 24)!important
}
/*.navbarToScroll{
    position: fixed;
    width: 100%;
    height: 58px;
    border-bottom: 1px solid #ccc;
    -webkit-transition: padding 0.2s ease-in-out;
    transition: padding 0.2s ease-in-out;
}*/
section{
    padding: 12rem 5rem 5rem 5rem;
    word-spacing: 0.5rem;
    font-family: "Playfair Display", serif;
    font-size: 1.2rem;
    
}
section h3{
    
    font-family: "Kode Mono", monospace;
}

.icono1{
    justify-content: flex-end;
}
#article{
    padding:  10rem;
}
/* .card{
    width: 25rem;
    max-width: 22rem;
} */

.card-text{
    font-family: "Raleway", sans-serif;
}
.card-body{
    background-color:rgb(36,154,166) ;
}

/*#casilla_mensaje{
    texterea
}*/

.container2{
    max-width: 80%;
    padding-inline-start: 20%;
    margin-top: 4rem;
    margin-bottom: 3rem;
}
/*valores a textarea*/
textarea{
    width: 100%;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

footer{
    background-color: rgb(24, 99, 30);
        height: 10rem;
        display: flex; 
        justify-content:center; 
        align-items: center; 
}
footer h3{
    font-size: 3rem;
    max-height: 1rem;
    align-items: center;
}
footer .iconos{
    color: #ffffff;
    margin-inline-start: 50rem;
    font-size: 4rem;
    align-items: baseline;

}
.centered-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}



